.sidebar {
    position: sticky;
    top: 30px;
    left: 0;
    height: 500px;
    width: auto;
    /* width: 100%; */
    padding: 20px;
    background-color: #f8f9fa;
    /* padding-bottom: 100px !important; */
    
    border-radius: 10px;
    overflow-y: auto;

}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar li a {
    color: #000;
    text-decoration: none;
}

.sidebar li a:hover {
    color: #007bff;
}

/* computer */
.img-fluid {
    height: 259.58px;
}


.card-title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.card-text {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.card {
    text-decoration: none;
}


/* .custom-table .table {
    border-radius: 100px !important; 
    overflow: hidden; 
}
.custom-table th, .custom-table td {
    padding: 15px; 
} */

.custom-table .table {
    border-collapse: separate;
    border-spacing: 0;
}

.custom-table th,
.custom-table td {
    padding: 15px;
}

.custom-table tr:first-child th:first-child {
    border-top-left-radius: 10px;
    border-top: none;
    border-left: none;
}

.custom-table tr:first-child th:last-child {
    border-top-right-radius: 10px;
    border-top: none;
    border-right: none;
}

.custom-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
    border-bottom: none;
    border-left: none;
}

.custom-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
    border-bottom: none;
    border-right: none;
}

/* .custom-color {
    background: linear-gradient(to right, #00c9ff, #92fe9d) !important; 
}
.custom-color th {
    background: linear-gradient(to right, #00c9ff, #92fe9d) !important;
} */

.sidebar .nav-link.ttt{
    color: black !important;
  }

  .nav-link.ttt{
    width: auto !important; 
  }